body {
  background: rgb(0, 179, 255);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.wrapper {
  width: 600px;
  margin: 100px 500px;
  color: #fff;
  text-align: center;
}
